@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

body{
    /* background-image: url(assets/bg-mobile.svg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);*/
    background: url('assets/bg-desktop.svg') no-repeat hsl(257, 40%, 49%);
    background-size: contain;
    font-family: "open sans"sans-serif;
    font-weight: 400;
}

    
/* utility class */
.container{
    width: 90%;
    margin: auto;
    text-align: start;
    
}
nav img{
    width: 18%;
   

}
nav{
    padding-top: 2rem;
    
}
.main{
    margin-top: 30px;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;

 
}
.main img{
    max-width: 100%;
   
   

}

.main-inner-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: white;

}
.main-inner-text-h2{
    font-family: "poppins",sans-serif;
    font-weight: 600;
    color: white;
   
    
}
   
.main-inner.text p {
    color:white ;
    width: 70%;
    margin: auto;
}
.main-inner-text button {
    width: 70%;
    height: 2rem;
    background-color: white;
    margin: auto;
    border: none;
    border-radius: 4rem;
    color:hsl(300, 69%, 71%);
    box-shadow: 1px;
    font-size: smaller;
    box-shadow: 1px 2px 5px hsl(300, 69%, 71%);
    

}
 /* -------- */
 .main-inner-text button:hover{
    box-shadow: 0 20px 30px rgba(0,0,0,2);
    color: white;
    background-color:hsl(300, 69%, 71%);
    transform: translateY(-3px);
    cursor: pointer;

 }

 .main-inner-text button:active{
    box-shadow: 0 20px 30px rgba(0,0,0,2);
    transform: translateY(-1px);

 }


 .icon-view{
    display: flex;
    justify-content: space-between;
    font-family: "poppins",sans-serif;
    font-weight: 700;
    color: white;
    flex-direction: row;
    height: 2rem;
    margin: auto;
    border: none;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;


 }
 .main-footer{
    display: flex;
    justify-content: center;
 }

/* destop view */
  @media ( min-width:1024px){
    body{
        background: url('assets/bg-mobile.svg') no-repeat;
        background-color: hsl(257, 40%, 49%);
    background-position-x: 2%;
    background-size:contain;
    }

nav img{
    width: 18%;


}
.main{
    flex-direction: row;
}
.main-inner-text{
    text-align: start;
    width: 38%;
    padding-top: 3rem;
    /* margin-right: auto;
    margin-left: 4rem;
    height: 40%;
    margin-top: 5%;
    margin-bottom: auto; */
}

 .main-footer{
    justify-content: center;
        display: flex;  
     }

 .main-inner-text button{
    margin: 0;
    width: 30%;
    height: 2.5rem;
    color: hsl(257, 40%, 49%);

}

.main-inner-text button:hover{
    /* box-shadow: 0 20px 30px rgba(0,0,0,2);
    transform: translateY(-3px); */
    cursor: pointer;
    background-color:hsl(300, 69%, 71%);
    color: white;
}
.main-inner-text-h2{
    color: white;
    width: 70%;
    line-height: 1.7rem;
}
    
 .main-inner-text p{
    margin: 0;
    width: 25rem;
    color: white;
 }
 .icon-view{
  padding-top: 4%;
  padding-bottom: 5%;
 }a
   .main img{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
   }   
  }