@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(assets/bg-mobile.svg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);*/
    background: url('assets/bg-mobile.svg') no-repeat hsl(257, 40%, 49%);
    font-family: "open sans"sans-serif;
    font-weight: 400;
}
    
/* utility class */
.container{
    width: 90%;
    margin: auto;
    text-align: start}
main{
    width: 90%;
    margin: auto;
}
nav img{
    width: 41%;

}
nav{
    padding-top: 2rem;
}
.main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32rem;
}
.main img{
    max-width: 100%;

}
.main-inner-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align:end;
    color: white;
}
.main-inner-text-h2{
    font-family: "poppins",sans-serif;
    font-weight: 700;
    color: white;
}
.main-inner.text p{
    color:white ;
    width: 70%;
    margin: auto;
}
.main-inner-text button{
    width: 50%;
    height: 2rem;
    background-color: white;
    margin: auto;
    border: none;
    border-radius: 2rem;
    color:hsl(300, 69%, 71%);
    box-shadow: 1px;
}

.icon{
     padding-top: 4%;
    padding-bottom:50%;
    background: inherit;
    color: white; 
 }
 .icon-view{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 20%;
    padding-bottom: 10%;
 }

/* destop view */
@media ( min-width:1024px){
} 
    body{
        background: url('assets/bg-desktop.svg') no-repeat;
        background-color: hsl(257, 40%, 49%);
    background-position-x: 2%;
    background-size: contain;
    background-position-x:2%;
    }
nav img{
    width: 30%;


}
.main{
    flex-direction: row;
    justify-content: center;

}
.main-inner-text{
    text-align: left;
    width: 50%;
    margin-right: auto;
    margin-left: 8rem;
    height: 50%;
    margin-top: 5%;
    margin-bottom: auto;
}

.main-footer{
    justify-content: center;
        display: flex;  
}
 .main-inner-text button{
    margin: 0;
    width: 20%;
    height: 2.5rem;
}
    
 .main-inner-text p{
    margin: 0;
    width: 25rem;
 }
 .icon-view{
    display: flex;
    justify-content: end;
   
 .main-footer{
    display: flex;
    justify-content: end;

 }

 .icon{
  
    display: flex;
    justify-content: end;
 }
} 
